.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Other Visual Studio Code files
.vs

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Visual Studio Code modifiers
.hintrc
.wsuo
VSWorkspaceState.json

# Ingore specific launching files
launch.json
